# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment Variables
.env

# Migrations (optional keep first migration files if needed)
**/migrations/*
!**/migrations/__init__.py

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# Build files
dist/
build/
*.egg-info/

# mypy
.mypy_cache/

# pyenv
.python-version